#quiz {
    padding: 10px;
    background-color: #dedede;
}

.form-check {
    padding-top: 10px;
}
#sets {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dddddd;
}

ul {
    list-style-type: none; /*removes bullets */
}